<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 用户SQL -->
<mapper namespace="com.dao.UserDao">

	<resultMap type="User" id="userResultMap">
		<id property="uid" column="uid" />
		<result property="uname" column="uname" />
		<result property="upassword" column="upassword" />
		<result property="phone" column="phone" />
		<result property="idcard" column="idcard" />
		<result property="jurisdiction" column="jurisdiction" />
		<result property="ustatus" column="ustatus" />
		<result property="regtime" column="regtime" />
		<result property="balance" column="balance" />
		<result property="remark" column="remark" />
	</resultMap>

	<!-- 通过名字找对象 -->
	<select id="findUserById" resultMap="userResultMap">
		select * from `user` where uname=#{uname}
	</select>
	
	<select id="findUser" resultMap="userResultMap">
		select * from `user` where phone=#{phone}
	</select>
	
	<!-- getSelectUserByPhone -->

	<!-- 前台登录 -->
	<select id="Login" parameterType="java.lang.String" resultMap="userResultMap">
		select * from `user` 
		<where>
			 phone=#{phone}
		</where>
	</select>

	<!-- 注册 -->
	<insert id="Register">
		insert into `user`(uname,upassword,phone,idcard,jurisdiction,ustatus,regtime,balance) values(#{uname},#{upassword},#{phone},#{idcard},#{jurisdiction},#{ustatus},#{regtime},#{balance})
	</insert>
   <!-- 后台查询会员信息    贺欢 -->
   <select id="findUser1" resultType="User">
      select * from `user` where jurisdiction='会员' and phone like concat('%',#{phone},'%') limit #{pagenumber},5
   </select>
   <!-- 后台删除会员信息    贺欢 -->
   <delete id="delUser">
      delete from `user` where uid=#{uid}
   </delete>
   <!-- 后台修改会员信息    贺欢 -->
   <update id="upUser">
   	update `user` set upassword=#{upassword},phone=#{phone} where uid=#{uid}
   </update>
	<!-- 后台登录 -->
	<select id="findBackLoginUser" resultMap="userResultMap">
		select * from `user` where uname=#{uname} and upassword=#{upassword}
	</select>
	<!-- 查询会员总个数  贺欢-->
	<select id="findUsertCount" resultType="int">
	    select count(*) from `user` where jurisdiction='会员'and phone like concat('%',#{phone},'%')
	</select>
	<!-- 后台查询非会员信息    贺欢 -->
   <select id="findGenUser1"   resultType="User">
      select * from `user` where jurisdiction='非会员' and phone like concat('%',#{phone},'%') limit #{pagenumber},5
   </select>
   <!-- 查询非会员总个数  贺欢-->
	<select id="findUsertCount2" resultType="int">
	    select count(*) from `user` where jurisdiction='非会员'and phone like concat('%',#{phone},'%')
	</select>
  <!-- 后台修改非会员信息    贺欢 -->
   <update id="upUser2">
   	update `user` set phone=#{phone} where uid=#{uid}
   </update>
   <!-- 后台添加非会员信息  贺欢-->
   <insert id="addGenUser">
     insert into `user`(uname,phone,idcard,jurisdiction,regtime) values(#{uname1},#{phone1},#{idcard1},#{jurisdiction1},#{regtime1})
   </insert>
  
	
	<select id="findSuperUser" resultMap="userResultMap">
		select * from `user`
		<trim prefix="WHERE" prefixOverrides="and">
			jurisdiction='权限管理员'
			<if test="uname !=null and uname != ''">
				and uname like concat('%',#{uname},'%')
			</if>
		</trim>
		limit #{pageNum},5
	</select>
	
	<select id="findSuperUserCount" resultType="int">
		select count(*) from `user`
		<trim prefix="WHERE" prefixOverrides="and">
			jurisdiction='权限管理员'
			<if test="uname !=null and uname != ''">
				and uname like concat('%',#{uname},'%')
			</if>
		</trim>
	</select>

	
	<!-- 权限管理员信息修改 -->
	<update id="updateSuperUser">
		update `user` set uname=#{uname},upassword=#{upassword},phone=#{phone},idcard=#{idcard},jurisdiction=#{jurisdiction},balance=#{balance} where uid=#{uid}
	</update>
	
	<!-- 删除权限管理员 -->
	<delete id="delSuperUser">
		delete from `user` where uid=#{uid}
	</delete>
	

	<!-- 前台修改 手机号码-->
	<update id="updateu">
		update `user` set phone=#{phone} where uid=#{uid}
	</update>
	<!-- 个人中心  修改个人密码 -->
    <update id="updateupwd">
    update `user` set upassword =#{upassword} where uid=#{uid}
    </update>
    
    <!-- 修改登录状态 黎星平 -->
    <update id="updateUserUstatusByid">
    	update `user` set ustatus=#{ustatus} where uid=#{uid}
    </update>
</mapper>